﻿.nav-pills .nav-link {
    color: #fff;
}

.nav-pills .nav-link:hover {
    color: #FFD700;
}

.nav-pills .nav-link.active {
    color: #FFD700;
    background-color: black;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #FFD700;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}