@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url('/images/Fitness1919Logo.jpg');
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: black;
        color: yellow;
        font-family: Arial, sans-serif;
    }

    .image-container {
        text-align: right;
    }

    container {
        display: flex;
        align-items: center;
    }

    .text-container {
        flex: 1;
    }

    .image-container {
        text-align: right;
    }

    h1 {
        
        font-size: 36px;
        margin-bottom: 10px;
    }

    h6 {
        font-size: 14px;
        margin-bottom: 10px;
        text-align: left;
        font-family: "Good Times", "Courier New", monospace;
    }
</style>

<div class="container">
    <div class="text-container">
        <div class="text-center">
        </div>
    </div>
</div>
