<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Ysabeau+Infant:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="~/css/home/index.css" true" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>


<header>
    <section class="slider">
        <ul>
            <li>
                <article class="center-y padding_2x">
                    <h3 class="big title"><em>P</em>rotein <em>P</em>owder</h3>
                    <p>Best protein powders you can find in the internet. </p>
                    <a asp-controller="Products" asp-action="Index" class="btn btn_3">View our products.</a>
                </article>
            </li>
            <li>
                <article class="center-y padding_2x">
                    <h3 class="big title"><em>Creatine</em> Monohydrate.</h3>
                    <p>100% tested creatines for the best prices.</p>
                    <a asp-controller="Products" asp-action="Index" class="btn btn_3">View our products.</a>
                </article>
            </li>
            <li>
                <article class="center-y padding_2x">
                    <h3 class="big title"><em>Fitness</em> clothes.</h3>
                    <p>The best clothes for the best gym fits.</p>
                    <a asp-controller="Products" asp-action="Index" class="btn btn_3">View our products.</a>
                </article>
            </li>
            <aside>
                <a asp-controller="Products" asp-action="Index"></a>
                <a asp-controller="Products" asp-action="Index"></a>
                <a asp-controller="Products" asp-action="Index"></a>
            </aside>
        </ul>
    </section>
    <a href="#services" class="cs-down"></a>
    <pre></pre><pre></pre><pre></pre><pre></pre>
    <div class="center" style="text-align:center; position:center; ">
        <a class="center" style=" font-size: 20px;position:center; display:center; color:#FFD700;text-align:center" asp-action="Create" asp-controller="Feedbacks">Give us feedback!</a>
    </div>
    <pre></pre><pre></pre>
    <img src="~/images/feedback-screenshot-blur.png" style="width:100%" />
</header>

@section scripts{
    <script type="text/javascript" src="~/js/home/Index.js"></script>
}