h2 {
    font-weight: 800;
    text-align: center;
}

body {
    background-image: url('/images/Fitness1919Logo.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    color: #FFD700;
    font-family: Arial, sans-serif;
}

.body {
    width: 100%;
    margin: auto;
}

#login-submit,
#register-button {
    color: black;
    background-color: #FFD700;
    border-color: #FFD700;
    font-weight: 800;
    border-radius: 30px; 
    padding: 10px 20px; 
}

.form-floating {
    color: black;
    font-weight: 700;
    font-size: large;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-form {
    max-width: 500px;
    width: 100%;
}

.tempdata p {
    color: red;
    text-align: center;
    font-size: 12px;
}
