﻿html {
    height: 100%;
}


body {
    background-image: url('/images/Fitness1919Logo.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
}


.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: black;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}


    .login-box h2 {
        margin: 0 0 30px;
        padding: 0;
        color: #FFD700;
        text-align: center;
    }



    .login-box .user-box {
        position: relative;
    }


        .login-box .user-box input:-webkit-autofill,
        .login-box .user-box input:-webkit-autofill:hover,
        .login-box .user-box input:-webkit-autofill:focus,
        .login-box .user-box input:-webkit-autofill:active {
            -webkit-text-fill-color: #FFD700;
            caret-color: #FFD700;
            box-shadow: black 0px 0px 0px 30px inset !important;
            border-color: #FFD700;
            border-width: 3px;
        }

        .login-box .user-box input {
            width: 100%;
            padding: 5px 0;
            font-size: 16px;
            color: black;
            margin-bottom: 2px;
            border: none;
            border-bottom: 1px solid #fff;
            outline: none;
            background-color: transparent;
            border-color: black;
        }

            .login-box .user-box input:focus {
                box-shadow: 0 0 0 2px transparent !important;
                border-bottom: 4px solid #FFD700;
            }



        .login-box .user-box label {
            position: absolute;
            font-weight: bold;
            top: -18px;
            left: 0;
            padding: 10px 0;
            font-size: 12px;
            color: #FFD700;
            pointer-events: none;
            background-color: transparent;
        }

.form-check-input {
    border-color: #FFD700;
    background-color: transparent;
}

.remember-label {
    font-size: 13px;
    color: #FFD700;
}


.login-box .submit-button {
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 30px;
    letter-spacing: 1px;
    border-color: #FFD700;
    background-color: transparent;
    text-align: center;
    color: #FFD700;
    font-weight: bold;
    width: 200px;
}

    .login-box .submit-button:hover {
        border: none;
        outline: none;
        font-weight: bold;
        background: #FFD700;
        color: black;
        border-radius: 5px;
        box-shadow: 0 0 5px #FFD700, 0 0 25px #FFD700, 0 0 50px #FFD700, 0 0 100px #FFD700;
    }


.login-box form p {
    color: #FFD700;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 2px;
    letter-spacing: 2px;
    width: 200px;
}


.login-box form a {
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #FFD700;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 0px;
    letter-spacing: 4px;
    width: 200px;
}

.login-box a:hover {
    font-weight: bold;
    background: #FFD700;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px #FFD700, 0 0 25px #FFD700, 0 0 50px #FFD700, 0 0 100px #FFD700;
}

.login-box a span {
    position: absolute;
    display: block;
}

    .login-box a span:nth-child(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #FFD700);
        animation: btn-anim1 1s linear infinite;
    }

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #FFD700);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #FFD700);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #FFD700);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,100% {
        bottom: 100%;
    }
}