<!DOCTYPE html>
<html>
<head>
    <title>All Orders</title>
</head>
<body>
    <h1>All Orders</h1>
    <table>
        <thead>
            <tr>
                <th>Created On</th> 
                <th>Order Price</th>
                <th>User Emial</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@User.Identity.Name</td>
                    <td>@order.CreatedOn</td> 
                    <td>@order.OrderPrice</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>