@using Fitness1919.Data.Models;
@model IEnumerable<OrderItems>
<h3>Ordered items</h3>
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>@item.Quantity</td>
                <td>@item.Price.ToString("f2")</td>
            </tr>
        }
    </tbody>
</table>