body {
    background-image: url('/images/Fitness1919Logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color: #FFD700;
    font-family: Arial, sans-serif;
    position: center;
}

h1,h2,h3 {
    text-align: center;
    position: center;
}

.center {
    text-align: center;
    position: center;
    margin: auto;
}

.btn-danger,.btn-primary {
    cursor: pointer;
    padding: 4px 8px;
    text-decoration: none;
    border: 1px solid #FFD700;
    border-radius: 4px;
    background-color: #FFD700;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.btn-danger {
    background-color: red;
    color: white;
    border-color: red;
}

    .btn-danger:hover {
        background-color: #FFD700;
        color: black;
        border-color: #FFD700;
    }

.btn-primary {
    background-color: #FFD700;
    color: black;
}

a.btn-primary.btn {
    margin-right: 5px;
}

    a.btn-primary.btn:hover {
        background-color: black;
        color: #FFD700;
    }

.delete {
    color: #ffb703;
    text-decoration: blink;
}

.delete:visited {
    color: #FFD700;
}

.delete:hover {
    color: orange;
}

.delete:active {
    color: #FFD700;
}

.delete:focus {
    color: #FFD700;
}
