@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
<link rel="stylesheet" href="~/css/errorPages/acessDenied.css">

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
    <p>Retrun to home page: <a asp-controller="Home" asp-action = "Index">Home page</a></p>
</header>