body {
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/images/Fitness1919Logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    text-align: center;
}

p, a {
    color: #FFD700;
}

    a:hover {
        color: black;
        margin-top: auto;
    }
