@using Fitness1919.Web.ViewModels.User
@model RegisterFormModel

@{
    ViewData["Title"] = "Delete";
}
<link rel="stylesheet" href="~/css/admin/delete.css"true" />
<pre></pre><pre></pre><pre></pre><pre></pre><pre></pre>
<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div class="center">
    <form asp-action="Delete">
        <input type="hidden" asp-for="UserId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
    </form>
        <a class="delete" asp-action="AllUsers">Back to List</a>
</div>
