@using Fitness1919.Web.ViewModels.Product
@model ProductAllViewModel

@{
    ViewData["Title"] = "Recover Product";
}
<link rel="stylesheet" href="~/css/admin/delete.css" true" />
<pre></pre><pre></pre><pre></pre><pre></pre><pre></pre>
<h1>Recover</h1>

<h3>Are you sure you want to recover this product?</h3>
<div class="center">
    <form asp-action="RecoverProduct">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="RecoverProduct" class="btn btn-danger" /> |
    </form>
    <a class="delete" asp-action="AllDeletedProducts">Back to List</a>
</div>
