.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.page-content {
    margin:0;
    padding:0;
}

.left-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1px;
    background-color: transparent;
    border: transparent;
    border-radius: 2px;
    backdrop-filter: blur(5px);
}

.leftside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

    .leftside a {
        display: flex;
        align-items: flex-start;
        text-decoration: none;
        color: inherit;
        margin-bottom: 10px;
        padding: 1px;
        border:none;
    }

        .leftside a img {
            margin-right: 10px;
            background-color: #f0f0f0;
            padding: 4px;
            border-radius: 5px;
        }

.left-container {
    position: absolute;
    z-index:1000;
    top: 20px; 
    left: 20px; 
}


.navbar {
    background-color: transparent;
    color: transparent;
    border-color: transparent;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 0px;
    overflow: hidden;
    transition: top 0.3s;
}

.navbar:before,
.navbar:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 20px;
    background-color: transparent;
}

.navbar:before {
    left: -10px;
    transform: skewX(45deg);
}

.navbar:after {
    right: -10px;
    transform: skewX(-45deg);
}

.navbar-brand {
    padding: 10px;
}

.navbar-nav {
    width: 100%;
    justify-content: space-around;
}

.form-inline {
    margin:auto;
    font-weight: 900;
}

.login-container {
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 101;
}

.login-button {
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 50px;
    padding: 8px 20px;
    font-weight: 900;
    cursor: pointer;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    top: 0;
}
.form-inline{
    display:flex;
}
.search_text_box{
    margin-top:7px;
}
.btn{
    border:none;
}
    .btn:hover {
        background-color: transparent;
        border: none;
    }
