body {
    background-image: url('/images/Fitness1919Logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color: #FFD700;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
}

.table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}

    .table th,
    .table td {
        padding: 8px;
        text-align: left;
        color: #FFD700;
    }

a {
    color: #FFD700;
    background-color: transparent;
    padding: 4px 8px;
    text-decoration: none;
    border: 1px solid #FFD700;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

    a:hover {
        background-color: #FFD700;
        color: black;
    }

h1 {
    color: #FFD700;
}

.map-container-3 {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

    .map-container-3 iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

