h2 {
    font-weight: 800;
}

body {
    background-image: url('/images/Fitness1919Logo.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    color: #8B8000;
    font-family: Arial, sans-serif;
}

.form-floating {
    color: black;
    font-weight: 700;
    font-size: large;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-form {
    max-width: 500px; /* Adjust the width as needed */
    width: 100%;
}

.col-md-4 {
    width: 80%;
    margin: auto;
}
