body {
    background-image: url('/images/Fitness1919Logo.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    color: #8B8000;
    font-family: Arial, sans-serif;
}
