body {
    background-image: url('/images/Fitness1919Logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color: #FFD700;
    font-family: Arial, sans-serif;
}

.center {
    text-align: center;
}

p {
    text-align: center;
}

h1, h4 {
    text-align: center;
    color: #FFD700;
}


.table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}

    .table th,
    .table td {
        padding: 8px;
        text-align: left;
        color: #FFD700;
        border: 1px solid #ffb703;
    }


.btn btn-secondary {
    color: #FFD700;
    background-color: transparent;
    padding: 4px 8px;
    text-decoration: none;
    border: 1px solid #FFD700;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

    a:hover {
        background-color: #FFD700;
        color: black;
    }

.row {
    display: flex;
    justify-content: center;
}

.col-md-4 {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #FFD700;
}

.product-control {
    margin-bottom: 10px;
}

.product-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #FFD700;
    border-radius: 4px;
    color: #ffb703;
    background-color: black;
}

.btn {
    cursor: pointer;
}

.btn-primary {
    background-color: #FFD700;
    color: black;
    border-color: #FFD700;
}

    .btn-primary:hover {
        background-color: black;
        color: #FFD700;
        border-color: black;
    }

.text-danger {
    color: red;
}
