body {
    background-color: black;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: auto;
}
/*.filter-form{
    margin-top:20rem;
}*/

.product-table {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/ /* Center align product boxes */
    gap: 20px; /* Add gap between products */
}

.product-box {
    border: 1px solid #ccc;
    padding: 10px;
    color: #FFD700;
    width: 250px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-image {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-description {
    margin-top: 10px;
}

.product-price {
    font-weight: bold;
    margin-top: 5px;
}

.details {
    color: #FFD700;
    text-decoration: none;
    border: 1px solid #FFD700;
    margin-top: auto; /* Push details link to the bottom */
}

    .details:hover {
        color: black;
        background-color: #FFD700;
        text-decoration: none;
        border: 1px solid black;
    }

/*.filterValue {
    background-color: black;
    color: #FFD700;
    border-color: #FFD700;
}

    .filterValue:hover {
        background-color: #FFD700;
        color: black;
        border-color: black;
    }

.filterButton {
    border: 1px solid #FFD700;
    background-color: black;
    color: #FFD700;
}

.allOption {
    background-color: black;
    color: #FFD700;
    border-color: #FFD700;
}

    .allOption:hover {
        background-color: #FFD700;
        color: black;
        border-color: black;
    }*/

#categoryFilter,
#brandFilter {
    background-color: black;
    color: #FFD700;
    border-color: #FFD700;
}

main{
    margin-top:50%;
}