body {
    background-image: url('/images/Fitness1919Logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color: #FFD700;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
    color: #FFD700;
}

.table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}

    .table th,
    .table td {
        padding: 8px;
        text-align: left;
        color: #FFD700;
    }

.cancelAction {
    color: #FFD700;
    background-color: transparent;
    padding: 4px 8px;
    text-decoration: none;
    border: 1px solid #FFD700;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

    .cancelAction:hover {
        background-color: black;
        color: #ffb703;
        border-color: black;
    }

.createBtn,
.cancelAction.btn-secondary {
    background-color: #FFD700;
    color: black;
    border-color: #FFD700;
}

        .createBtn:hover,
        a.btn-secondary:hover {
            background-color: black;
            color: #FFD700;
            border-color: black;
        }

label {
    color: #FFD700;
}
.form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #FFD700;
    border-radius: 4px;
    color: #FFD700;
    background-color: black;
}
