@using Fitness1919.Web.ViewModels.Category
@model CategoryUpdateViewModel

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/css/brand/edit.css" />
<pre></pre><pre></pre><pre></pre><pre></pre>
<h1>Edit</h1>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        <p style="color:red;">@TempData["ErrorMessage"]</p>
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}