@using Fitness1919.Web.ViewModels.Feedback
@model FeedbackAddViewModel
@{
    ViewData["Title"] = "Create Feedback";
}
<link rel="stylesheet" href="~/css/feedback/create.css" true" />
<h1>Create Feedback</h1>

<form class="sth" asp-controller="Feedbacks" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="FullName">First name:</label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="City">City:</label>
        <textarea asp-for="City" class="form-control"></textarea>
        <span asp-validation-for="City" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FeedBackDescription">Feedback Description:</label>
        <input asp-for="FeedBackDescription" class="form-control" />
        <span asp-validation-for="FeedBackDescription" class="text-danger"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-primary" style="border-color: #FFD700; background-color: #FFD700; font-weight: bold ; color:black">Create</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="border-color: #FFD700; background-color: #FFD700; font-weight: bold ; color:black">Cancel</a>
    </div>
</form>
