@using Fitness1919.Web.ViewModels.Brand
@model BrandAddViewModel

@{
    ViewData["Title"] = "Create Brand";
}
<link rel="stylesheet" href="~/css/category/create.css" />
<pre></pre><pre></pre><pre></pre><pre></pre>
<h1>@ViewData["Title"]</h1>
@if(TempData["ErrorMessage"]!=null)
{
      <div class="alert alert-danger">
        <p style="color:red;">@TempData["ErrorMessage"]</p>
    </div>
}
<form asp-controller="Brands" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="BrandName">Name:</label>
        <input asp-for="BrandName" class="category-input" />
        <span asp-validation-for="BrandName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-controller="Admin" asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}
