@using Fitness1919.Web.ViewModels.Brand
@model BrandAddViewModel

@{
    ViewData["Title"] = "Create Brand";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Brands" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="BrandName">Name:</label>
        <input asp-for="BrandName" class="form-control" />
        <span asp-validation-for="BrandName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-controller="Brands" asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>