@using Fitness1919.Web.ViewModels.Brand
@model IEnumerable<BrandAllViewModel>
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/brand/index.css" />
<pre></pre><pre></pre><pre></pre><pre></pre>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BrandName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                </td>
            </tr>
        }
    </tbody>
</table>